<h1>クレジットカード Xard</h1>
<p>リベシティへようこそ！</p>

<hr>

<% if user_signed_in? %>
  <p>こんにちは、<%= current_user.email %>さん</p>
  <%= link_to "マイページへ", profile_path %>
  <br>
  <%= link_to "カード申請を行う", new_card_application_path %>
<% else %>
  <p>サービスを利用するには、ログインまたは新規登録が必要です。</p>
  <%= link_to "新規登録", new_user_registration_path %>
  <br>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>
