<%=""%>
<h1>クレジットカード発行審査申請</h1>

<%= form_with(model: @card_application, url: card_applications_path, local: true) do |form| %>
  <% if @card_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card_application.errors.count, "error") %> prohibited this card_application from being saved:</h2>

      <ul>
        <% @ekyc_application.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :document_type %><br />
    <%= form.select :document_type, ['運転免許証', 'マイナンバーカード', 'パスポート'], prompt: '選択してください' %>
  </div>

  <div class="field">
    <%= form.label :document_number %><br />
    <%= form.text_field :document_number %>
  </div>

  <div class="field">
    <%= form.label :full_name %><br />
    <%= form.text_field :full_name %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %><br />
    <%= form.date_field :date_of_birth %>
  </div>

  <div class="field">
    <%= form.label :address %><br />
    <%= form.text_area :address %>
  </div>

  <hr>
  <h3>属性情報</h3>

  <div class="field">
    <%= form.label :company_name, "勤務先名" %><br />
    <%= form.text_field :company_name %>
  </div>

  <div class="field">
    <%= form.label :employment_type, "雇用形態" %><br />
    <%= form.select :employment_type, ['正社員', '契約社員', '派遣社員', 'パート・アルバイト', 'その他'], prompt: '選択してください' %>
  </div>

  <div class="field">
    <%= form.label :years_of_service, "勤続年数" %><br />
    <%= form.number_field :years_of_service %>
  </div>

  <div class="field">
    <%= form.label :annual_income, "年収（万円）" %><br />
    <%= form.number_field :annual_income %>
  </div>

  <div class="field">
    <%= form.label :other_debt, "他社借入額（万円）" %><br />
    <%= form.number_field :other_debt %>
  </div>

  <div class="actions">
    <%= form.submit "申請する" %>
  </div>
<% end %>
